@use "variables" as var;

// Mixin qui applique une taille de police responsive
@mixin responsive-font($element) {
  font-size: map-get(map-get(var.$font-sizes, $element), "small");

  @media (min-width: map-get(var.$breakpoints, "medium")) {
    font-size: map-get(map-get(var.$font-sizes, $element), "medium");
  }

  @media (min-width: map-get(var.$breakpoints, "large")) {
    font-size: map-get(map-get(var.$font-sizes, $element), "large");
  }
}

@mixin responsive-margin($element) {
  margin: map-get(map-get(var.$margins, $element), "small");

  @media (min-width: map-get(var.$breakpoints, "medium")) {
    margin: map-get(map-get(var.$margins, $element), "medium");
  }

  @media (min-width: map-get(var.$breakpoints, "large")) {
    margin: map-get(map-get(var.$margins, $element), "large");
  }
}

@mixin responsive-padding($element) {
  padding: map-get(map-get(var.$paddings, $element), "small");

  @media (min-width: map-get(var.$breakpoints, "medium")) {
    padding: map-get(map-get(var.$paddings, $element), "medium");
  }

  @media (min-width: map-get(var.$breakpoints, "large")) {
    padding: map-get(map-get(var.$paddings, $element), "large");
  }
}

@mixin responsive-gap($element) {
  gap: map-get(map-get(var.$gaps, $element), "small");

  @media (min-width: map-get(var.$breakpoints, "medium")) {
    gap: map-get(map-get(var.$gaps, $element), "medium");
  }

  @media (min-width: map-get(var.$breakpoints, "large")) {
    gap: map-get(map-get(var.$gaps, $element), "large");
  }
}

@mixin media-query($breakpoint) {
  @media (min-width: map-get(var.$breakpoints, $breakpoint)) {
    @content;
  }
}

// 
@mixin mainComponentsWidth {
  max-width: calc(100vw - 2 * map-get(var.$paddings, "header", "small"));

  @media (min-width: map-get(var.$breakpoints, "medium")) {
    max-width: calc(100vw - 2 * map-get(var.$paddings, "header", "medium"));
  }

  @media (min-width: map-get(var.$breakpoints, "large")) {
    max-width: var.$maxWidth;
  }
}
