@use "functions" as f;

// Breakpoints
$breakpoints: (
  "small": 0,
  "medium": 768px,
  "large": 1440px,
);
// Max width
$maxWidth: 1240px;

// Fonts
$primaryfont: "Montserrat", sans-serif;

// Colors
$red: #ff6060;
$black: #000;
$white: #fff;
$grey: #f6f6f6;

// Backgrounds
$secondaryBackgroundColor: $red;
$collapriseBgColor: rgba(246, 246, 246, 0.45);
$footerBgColor: #000;

// Fonts colors
$primaryfontcolor: #000;
$secondaryfontcolor: #fff;
$tertiaryFontColor: $red;

// Fonts sizes
$font-sizes: (
  "headerBanner": (
    "small": f.toRem(12),
    "medium": f.toRem(18),
    "large": f.toRem(24),
  ),
  // "h2": (
  //   "small": 1rem,
  //   "medium": 1rem,
  //   "large": 1rem,
  // ),
  "collapsibleButton": (
    "small": f.toRem(13),
    "medium": f.toRem(18),
    "large": f.toRem(24),
  ),
  "content": (
    "small": f.toRem(12),
    "medium": f.toRem(16),
    "large": f.toRem(18),
  ),

  // Housing page
  "housingPageLocation":
    (
      "small": f.toRem(14),
      "medium": f.toRem(16),
      "large": f.toRem(18),
    ),
  "housingPageTitle": (
    "small": f.toRem(18),
    "medium": f.toRem(24),
    "large": f.toRem(36),
  ),
  "housingPageTags": (
    "small": f.toRem(10),
    "medium": f.toRem(12),
    "large": f.toRem(14),
  ),
  "housingHostProfile": (
    "small": f.toRem(12),
    "medium": f.toRem(16),
    "large": f.toRem(18),
  ),
);

// // Margins
// $margins: (
//   "body": (
//     "small": f.toRem(20),
//     "medium": f.toRem(32) f.toRem(60),
//     "large": f.toRem(45) f.toRem(100),
//   ),
// );

// Paddings
$paddings: (
  "header": (
    "small": f.toRem(20),
    "medium": f.toRem(30),
    "large": f.toRem(45),
  ),
);

// Gaps
$gaps: (
  "components": (
    "small": f.toRem(27),
    "medium": f.toRem(50),
  ),
  "page": (
    "small": f.toRem(20),
    "medium": f.toRem(25),
    "large": f.toRem(30),
  ),
);
