@use "/src/abstracts/mixins" as m;
@use "/src/abstracts/functions" as f;
@use "/src/abstracts/variables" as var;

.section {
  @include m.mainComponentsWidth;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, min-content);
  grid-column-gap: 0px;
  grid-row-gap: 15px;

  grid-template-areas:
    "carrousel carrousel"
    "title title"
    "location location"
    "tags tags"
    "rating hostProfile"
    "description description"
    "equipements equipements";

  @include m.media-query("medium") {
    grid-template-areas:
      "carrousel carrousel"
      "title hostProfile"
      "location hostProfile"
      "location rating"
      "tags rating"
      "description description"
      "equipements equipements";

    grid-template-columns: 80% 20%;
  }

  .sliderContainer {
    grid-area: carrousel;
  }

  .title {
    grid-area: title;
    margin: 0;
    @include m.responsive-font("housingPageTitle");
    color: var.$tertiaryFontColor;
    width: 100%;
  }

  .location {
    grid-area: location;
    @include m.responsive-font("housingPageLocation");
  }

  .tags {
    grid-area: tags;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .tag {
    @include m.responsive-font("housingPageTags");
    border-radius: 10px;
    padding: f.toRem(4) f.toRem(22);
    color: var.$secondaryfontcolor;
    font-weight: bold;
    text-wrap: nowrap;
    text-align: center;
    background-color: var.$secondaryBackgroundColor;
  }

  .rating {
    grid-area: rating;

  }

  .hostProfileContainer {
    grid-area: hostProfile;
  }

  .hostProfile {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;

    .hostName {
      @include m.responsive-font("housingHostProfile");
      color: var.$tertiaryFontColor;
      width: min-content;
      text-align: right;
    }
    .hostPicture {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      @include m.media-query("medium") {
        height: 48px;
        width: 48px;
      }
      @include m.media-query("large") {
        height: 64px;
        width: 64px;
      }
    }
  }

  .description {
    grid-area: description;
    @include m.responsive-font("content");
  }

  .equipments {
    grid-area: equipements;
    @include m.responsive-font("content");

    ul {
      display: flex;
      flex-direction: column;
    }
  }
}
