@use '/src/abstracts/variables' as var;
@use '/src/abstracts/mixins' as m;

body {
  font-family: var.$primaryfont;
  color: var.$primaryfontcolor;
  background-color: #fff;

  display: flex;
  justify-content: center;

}