@use "/src/abstracts/mixins" as m;
@use "/src/abstracts/variables" as var;
@use "/src/abstracts/functions" as f;

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  @include m.media-query("medium") {
    padding: 20px;
    background-color: var.$grey;
    border-radius: 25px;
    gap: 30px;
  }

  @include m.media-query("large") {
    padding: 50px;
    gap: 60px;
  }
}
