@use '/src/abstracts/mixins' as m;
@use '/src/abstracts/functions' as f;
@use '/src/abstracts/variables' as var;

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include m.responsive-font('headerBanner');
  @include m.mainComponentsWidth;
  width: 100%;


  .logo {
    width: 145px;
  }
  .nav {
    .ul {
      display: flex;
      gap: f.toRem(25);	
      @include m.media-query ('medium') {
        gap: f.toRem(60);
      }
      list-style: none;
      padding: 0;

      .li {
        text-transform: uppercase;
        @include m.media-query ('medium') {
          text-transform: capitalize;
        }
      }
    }

    a {
      text-decoration: none;
      color: black;
      &.active {
        text-decoration: underline;
      }
    }
  }
}
